
form{margin: 20px 0px;
    padding: 20px;
    position: relative;
    width: max-content;
    border: solid 1px black;
    input{display: block;margin: 10px auto;}
    h3{ margin: 0px;
        padding: 0px;
        text-align: center;}
    div{width: max-content;margin:auto}
   p{font-size: x-small;text-align: center;}
}
.connect{display: flex;}
.user{padding: 20px;}


